<!DOCTYPE html>
<html>
<head>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<style>
	.game_menu {
		margin: 1%;
	}
	.controller_menu {
		margin: 1%;
	}
</style>

<body>

	<div class=".col-md-4">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#game">Create Game</a></li>
			<li><a data-toggle="tab" href="#controller">Connect Controller</a></li>
	  	</ul>
	  
	  	<div class="tab-content">
			<div id="game" class="tab-pane fade in active">
				<div class="game_menu">
					<h3>Start a new game:</h3>
					<form action="/create-game/" method="post">
						Game List:
						<select name="game">
							{% for game_name in games %}
								<option value="{{game_name}}">{{game_name}}</option>
							{% endfor %}
						</select> 
						<input type="submit" value="Submit">
					</form> 
				</div>
			</div>
			<div id="controller" class="tab-pane fade">
				<div class="controller_menu">
					<h3>Connect a controller:</h3>
					<form action="/create-controller/" method="post">
						Game ID:  <input name="gameid" type="text">
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>